.add-pet-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70vh;
    min-height: 60vh;
    border: 5px solid rgba(5, 31, 3, 0.5);
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
    padding:50px;
}

.add-pet-wrapper h1{
  color:#08200b;
  font-size:1.7em;
}


.add-pet-wrapper input::placeholder,
.add-pet-wrapper select::placeholder {
  font-size: 1.3em;
  color: #04340b;
  opacity:0.8;
}

.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #04340b;
    font-size: 1.1em;
    opacity:0.8;
  }

  select option {
    background-color: rgba(10, 120, 10, 0.9);
    color: #fff;
    font-size: 1em;
    font-weight: 500;
  }

  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
  }

  .checkbox-group label {
    font-size: 1.2em;
    color:  #04340b;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}